[Desktop Entry]
Name=Book Bot
Comment=Scan Reddit for book mentions
Exec=lxterminal -e "/home/pi/bookbot/run.sh"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;
